@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Inter', sans-serif;  /* Add the actual font-family definition */
  --font-geist-mono: 'Courier New', monospace; /* Add the actual font-family definition */
  --font-motley: 'Motley Forces', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Motley Forces";
  src: url("/fonts/MotleyForces.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
